mat-card {
    max-width: 400px;
    margin: 2em auto;
    text-align: center;
}
  
mat-form-field {
    display: block;
}

.google-signin-button {
    /* display: flex; */
    align-items: center;
    padding: 10px 20px;
    font-size: 16px;
    color: #444;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
  }
  
  .google-signin-button img {
    height: 20px;
    width: 20px;
    margin-right: 10px;
  }
  
  /* .google-signin-button:hover {
    background-color: #f7f7f7;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  } */