
<div *ngIf="!hasProfileData" class="spinner-container">
  <mat-spinner></mat-spinner>
</div>

<div class="container" *ngIf="hasProfileData">
  <mat-card *ngIf="!isEditing">
    <mat-card-header>
      <mat-card-title>Job Seeker Profile</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p><strong>Summary:</strong> {{initialData.summary}}</p>
  
      <!-- <h3>Resume</h3>
      <p><strong>File Name:</strong> {{initialData.resume.fileName}}</p>
      <p><strong>Content Type:</strong> {{initialData.resume.contentType}}</p> -->
  
      <h3>Work Experience</h3>
      <div *ngFor="let experience of initialData.workExperience">
        <mat-divider></mat-divider>
        <p><strong>Company Name:</strong> {{experience.companyName}}</p>
        <p><strong>Designation:</strong> {{experience.designation}}</p>
        <p><strong>Work Description:</strong> {{experience.workDescription}}</p>
        <p><strong>Start Date:</strong> {{experience.startDate | date}}</p>
        <p><strong>End Date:</strong> {{experience.endDate | date}}</p>
        <p><strong>Is Current:</strong> {{experience.isCurrent ? 'Yes' : 'No'}}</p>
      </div>
  
      <h3>Key Skills</h3>
      <div *ngFor="let skill of initialData.keySkills">
        <mat-chip>{{skill}}</mat-chip>
      </div>
      <a style="margin-top: 2em;" [href]="getResumeUrl()" download="{{initialData.resume.fileName}}" class="mat-raised-button">Download Resume</a><br>
      <button style="margin-top: 2em;" mat-raised-button color="primary" (click)="enableEditing()">Edit Profile</button>
    </mat-card-content>
  </mat-card>
  
  <div *ngIf="isEditing">
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <h2>User Profile</h2>
    
    <mat-form-field style="width: 100%;">
			<mat-label>Resume</mat-label>
			<button mat-icon-button matPrefix (click)="f_input.click()">
        <mat-icon>attach_file</mat-icon>
      </button>
			<input type="text" readonly matInput [formControl]="display" />
			<input type="file" hidden #f_input (change)="onFileChange($event)" />
			<mat-error>this field is required</mat-error>
		</mat-form-field>

    <mat-form-field class="example-chip-list" style="width: 100%;">
      <mat-label>Key Skills</mat-label>
      <mat-chip-grid #chipGrid aria-label="Key Skills" formArrayName="keySkills">
        <mat-chip-row *ngFor="let skill of keySkills.controls; let i = index" [removable]="true" (removed)="removeSkill(i)">
          {{ skill.value }}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip-row>
        <input
          placeholder="New skill..."
          [matChipInputFor]="chipGrid"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          (matChipInputTokenEnd)="addSkill($event)"
        />
      </mat-chip-grid>
    </mat-form-field>

    <mat-form-field style="width: 100%;">
      <mat-label>Summary</mat-label>
      <textarea matInput placeholder="Summary" formControlName="summary"></textarea>
    </mat-form-field>

    <div formArrayName="workHistory">
      <h2>Work History</h2>
      <button mat-raised-button color="primary" (click)="addWorkHistory()">+ Add another work history</button><br>
    
      <div *ngIf="workHistory.controls.length > 0">
        <div *ngFor="let history of workHistory.controls; let i=index">
          <div formGroupName="{{i}}">
          <!-- The repeated partner template -->
          <mat-form-field style="width: 45%; margin-right: 1em;">
              <mat-label for="companyName">Company Name</mat-label>
              <input matInput placeholder="Company Name" type="text" id="history-{{ i }}" formControlName="companyName">
          </mat-form-field>

          <mat-form-field style="width: 45%;">
              <mat-label for="designation">Designation</mat-label>
              <input matInput placeholder="Designation" type="text" id="history-{{ i }}" formControlName="designation">
          </mat-form-field>

          <mat-form-field style="width: 100%;">
             <mat-label for="workDescription">Work Description</mat-label>
             <textarea matInput placeholder="Work Description" id="history{{ i }}" formControlName="workDescription"></textarea>
          </mat-form-field>
          <mat-form-field style="width: 45%;margin-right: 1em;">
            <mat-label>Start Date</mat-label>
            <input matInput [matDatepicker]="startdatepicker" formControlName="startDate">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="startdatepicker"></mat-datepicker-toggle>
            <mat-datepicker #startdatepicker></mat-datepicker>
          </mat-form-field>
          <mat-form-field style="width: 45%;">
            <mat-label>End Date</mat-label>
            <input matInput [matDatepicker]="enddatepicker" formControlName="endDate">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="enddatepicker"></mat-datepicker-toggle>
            <mat-datepicker #enddatepicker></mat-datepicker>
          </mat-form-field>
          <mat-checkbox formControlName="isCurrent">Is Current</mat-checkbox>
          </div>
        </div>
      </div>
    </div>
    <button mat-raised-button color="warn" (click)="cancelEdit()">Cancel</button>
    <button mat-raised-button color="primary" type="submit" [disabled]="!profileForm.valid">Submit</button>
  </form>
  </div>
</div>
